version: '3.8'

services:
  zookeeper:
    image: bitnami/zookeeper:latest
    container_name: zookeeper
    environment:
      - ALLOW_ANONYMOUS_LOGIN=yes
    ports:
      - "2181:2181"

  kafka:
    image: bitnami/kafka:latest
    container_name: kafka
    ports:
      - "9092:9092"
    environment:
      - KAFKA_CFG_ZOOKEEPER_CONNECT=zookeeper:2181
      - KAFKA_CFG_ADVERTISED_LISTENERS=PLAINTEXT://kafka:9092
      - ALLOW_PLAINTEXT_LISTENER=yes
    depends_on:
      - zookeeper

  api:
    build: ./backend
    container_name: api
    environment:
      - KAFKA_BROKERS=kafka:9092
      - PORT_API=3001
    ports:
      - "3001:3001"
    depends_on:
      - kafka

  orchestrator:
    build: ./backend
    container_name: orchestrator
    environment:
      - KAFKA_BROKERS=kafka:9092
    command: ["node", "orchestrator.js"]
    depends_on:
      - kafka

  gateway:
    build: ./backend
    container_name: gateway
    environment:
      - KAFKA_BROKERS=kafka:9092
      - PORT_GATEWAY=8080
    command: ["node", "gateway.js"]
    ports:
      - "8080:8080"
    depends_on:
      - kafka

  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "3000:3000"
    depends_on:
      - api
      - gateway
